package main;
//This class have been automatiquely generated.

import org.w3c.dom.Document;
import org.w3c.dom.Element;
import org.w3c.dom.NodeList;
import toolbox.XMLParser.XMLParser;
import java.util.HashMap;
import java.util.Objects;
import rendering.render_objects.RenderingWorkflow;

#IMPORTS


public class Initialisation {
    public static void init_rendering_workflows(){
        Document document= XMLParser.read_XML_file("src/config.xml");
        NodeList glslList = document.getElementsByTagName("runtimeWorkflow");
        if (glslList.getLength() > 0) {
            Element glslElement = (Element) glslList.item(0);

            // Accéder aux éléments directory
            NodeList directories = glslElement.getElementsByTagName("workflow");
            HashMap<Integer, RenderingWorkflow> map=new HashMap<>();
            int bigger_order=0;//we count the bigger order which si different from the number of shader
            //because we can have -1 as an order to just init the effect without using it.
            for (int i = 0; i < directories.getLength(); i++) {
                Element dirElement = (Element) directories.item(i);
                String effect_name=dirElement.getTextContent();
                int order=Integer.parseInt(dirElement.getAttribute("order"));

#WORKFLOWS_IF_ELSE
                else throw new RuntimeException("The workflow "+effect_name+" is unknown.");
                bigger_order=Math.max(bigger_order,order);
            }

            for (int i = 0; i <= bigger_order; i++) {
                Pipeline.addRW(map.get(i));
            }
            System.out.println(Pipeline.postprocessingEffects);
        }

    }
    public static void init_post_processing(){
        Document document= XMLParser.read_XML_file("src/config.xml");
        NodeList glslList = document.getElementsByTagName("runtimePostProcessing");
        if (glslList.getLength() > 0) {
            Element glslElement = (Element) glslList.item(0);

            // Accéder aux éléments directory
            NodeList directories = glslElement.getElementsByTagName("effect");
            HashMap<Integer,String> map=new HashMap<>();
            int bigger_order=0;//we count the bigger order which si different from the number of shader
            //because we can have -1 as an order to just init the effect without using it.
            for (int i = 0; i < directories.getLength(); i++) {
                Element dirElement = (Element) directories.item(i);
                String effect_name=dirElement.getTextContent();
                int order=Integer.parseInt(dirElement.getAttribute("order"));
                map.put(order,effect_name);
#POST_PROCESSING_IF_ELSE
                else throw new RuntimeException("The Post processing effect "+effect_name+" is unknown.");
                bigger_order=Math.max(bigger_order,order);
            }

            for (int i = 0; i <= bigger_order; i++) {
                Pipeline.postprocessingEffects.add(map.get(i));
            }

        }

    }
}
